@using PagedList
@using PagedList.Mvc

@model IPagedList<ChildrenToDo.Models.tNews>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int no = 1;
}

<link href="~/Content/PagedList.css" rel="stylesheet" />


<h2 class="text-center">所有消息</h2>
<div style="height:30px"></div>
<table class="table text-center table-striped">
    <tr>
        <th style="width:15%">
            編號
        </th>
        <th style="width:15%">
            日期
        </th>
        <th style="width:50%">
            標題
        </th>
        <th style="width:15%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(no++)
            </td>
            <td>
                @DateTime.Parse(item.NDate.ToString()).ToString("yyyy  年  M  月  d   日")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NTitle)
            </td>
            <td>
                @Html.ActionLink("詳細內容", "NewsDetails", new { id = item.NId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

<div class="text-center">
    @Html.PagedListPager(Model, Page => Url.Action("News", new { Page }))
</div>