@model ChildrenToDo.Models.tAdmin

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    function check() {
        if (document.form1.fPassword.value == "") {
            swal("Sorry !", "密碼不能為空值!", "error");
            return false;
        }
        return true;
    }
    //onsubmit事件只會放在form的表單上面
</script>

<h2>申請會員</h2>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<form name="form1" action="/Admin/AdminCreate" method="post" onsubmit="return check(); ">


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("帳號", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ALogin, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.ALogin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("密碼", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.APwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.APwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("姓名", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.AName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確認" class="btn btn-info" />
            </div>
        </div>
    </div>
</form>



<div>
    @Html.ActionLink("返回", "AdminIndex")
</div>

@if (ViewBag.msg == "OK")
{
    <script>
        swal("Good job!", "您已新增成功!", "success");
    </script>
}
else if (ViewBag.msg == "NOT OK")
{
    <script>
        swal("Sorry !", "您申請的帳號名稱已重複!", "error");
    </script>
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
