@model ChildrenToDo.Models.tNews

@{
    ViewBag.Title = "NewsCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<form method="post" enctype="multipart/form-data" action="/Admin/NewsEdit">
    <h4>編輯 最新消息</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("標題", htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.NTitle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.NTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("內容", htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.TextAreaFor(model => model.NContent, new { @class = "form-control", rows = "8" })
            @Html.ValidationMessageFor(model => model.NContent, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="Nfile_path">原附件檔案</label>
        @if (Model.Nfile_path == "無")
        {
            <div>
                無
            </div>
        }
        else
        {
            <div>
                <a href="@Model.Nfile_path">@Model.Nfile_path</a>
            </div>
        }

    </div>

    <div class="form-group">
        <label for="Nfile_path">請選擇上傳附件(可忽略)</label>
        <input type="file" class="form-control-file" id="Nfile_path" name="Nfile_path">
    </div>

    <input type="hidden" name="id" value="@Model.NId" />
    <div class="form-group m-auto d-flex">
        <div>
            <input type="submit" value="修改" class="btn btn-primary" />
        </div>

    </div>
</form>

<div style="margin-top:10px">
    @Html.ActionLink("返回最新消息列表", "NewsIndex")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
